<div id="container">
  <h1>There are <%= @available_badgers.count %> badgers available now</h1>
</div>

<% if @student.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@student.errors.count, "error") %>
      prohibited this student from being saved:
    </h2>
 
    <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id="container">
  <%= form_for @student  do |f| %>
    <div class="form_div"><%= f.label :name %></div>
    <div class="form_div"><%= f.text_field :name %></div>
    <br>
    <div class="form_div"><%= f.label :age %></div>
    <div class="form_div"><%= f.number_field :age %></div>
    <br>
    <div class="form_div"><%= f.label :location %></div>
    <div class="form_div"><%= f.text_field :location %></div>
    <br>
    <div class="form_div"><%= f.label 'Profile Pic' %></div>
    <div class="form_div"><%= f.text_field :img_url %></div>
    <br>
    <div class="form_div"><%= f.collection_select :badger_id, @available_badgers, :id, :name %></div>
    <br />

    <div class="form_div"><%= f.submit %></div>
  <% end %>
</div>